<br><br>
<div class="row">
    <div class="col-xs-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="ingredientName">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input id="Amount" type="number" class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="ingredientAmount">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" (click)="addIngredient">Add</button>
                    <button class="btn btn-primary">Clear</button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
